[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"

[packages]
six = "*"
