[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
flake8 = "*"
twine = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"

[packages]
six = "*"
